@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Monrope', sans-serif;
  cursor: point; }

h1, h2, h3, h4, h5, p, span, a, br {
  margin: 0;
  padding: 0; }
  h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, p::selection, span::selection, a::selection, br::selection {
    background-color: white;
    color: black; }

a {
  text-decoration: none;
  color: #fff; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 6rem; }
  nav > .nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3rem; }
    nav > .nav-left > :nth-child(1) {
      margin-right: 5rem; }
    nav > .nav-left li {
      margin: 0.25rem;
      opacity: 0.8; }
      nav > .nav-left li:hover {
        opacity: 1; }
  nav > .logo {
    position: relative; }
    nav > .logo > span {
      font-size: 2rem;
      letter-spacing: -0.2rem; }
    nav > .logo > #logo-round {
      border: 1px solid #fff;
      padding: 1rem 4.5rem;
      border-radius: 50%;
      transform: rotate(170deg);
      position: absolute;
      top: 0;
      left: -0.5rem;
      right: 1rem; }
  nav > .nav-right {
    justify-content: space-between;
    align-items: center; }
    nav > .nav-right > .menu-line {
      width: 3rem;
      color: white;
      height: 0.2rem;
      background-color: #fff;
      margin: 0.4rem 0;
      border-radius: 2px; }

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin: 10rem 6rem;
  height: 8rem; }
  .hero > .hero-left {
    width: 66%; }
    .hero > .hero-left > h2 {
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 10rem; }
  .hero > .hero-right {
    width: 34%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    .hero > .hero-right > p {
      text-transform: uppercase;
      line-height: 1.8;
      margin: 0;
      font-size: 1.2rem;
      margin-bottom: -9rem; }

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/assets/images/hero-bg.jpg");
  margin: 0;
  padding: 0;
  height: 1000px;
  background-size: auto;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative; }
  .bg-image > h1 {
    font-size: 12rem;
    line-height: 0.8;
    margin-top: 4rem;
    margin-left: 1rem;
    letter-spacing: -0.6rem;
    z-index: 2;
    position: absolute;
    top: -20rem;
    left: 5rem; }
  .bg-image > span {
    position: absolute;
    bottom: 2rem;
    left: 2rem; }

.section-2 {
  align-items: center;
  margin: 3rem 6rem; }
  .section-2 > h3 {
    width: 100%;
    font-size: 6.5rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    line-height: 0.9; }
    .section-2 > h3 > :nth-child(1), .section-2 > h3 :nth-child(3) {
      align-self: flex-start; }
    .section-2 > h3 > :nth-child(2) {
      align-self: flex-end; }
  .section-2 > .text-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem; }
    .section-2 > .text-desc > p {
      text-transform: uppercase;
      line-height: 1.8;
      margin: 0;
      font-size: 1.2rem;
      width: 30%; }

.section-3 {
  align-items: center; }
  .section-3 > .section-3-h2 {
    width: 100%;
    font-size: 6rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.4rem;
    margin: 3rem auto; }
    .section-3 > .section-3-h2 > .big-text {
      font-size: 10rem; }
  .section-3 .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    place-content: center; }
    .section-3 .carousel > .destination {
      height: 500px;
      width: 500px;
      overflow: hidden;
      margin: 0 0.5rem; }
      .section-3 .carousel > .destination > .destination-image {
        background-image: url("/assets/images/acores.jpg");
        filter: grayscale(70%);
        height: 300px;
        background-size: 100%;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        transition: background-size ease-in-out 1.5s;
        overflow: hidden; }
        .section-3 .carousel > .destination > .destination-image:hover {
          filter: grayscale(0%);
          background-size: 120%; }
      .section-3 .carousel > .destination > .destination-desc {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 1rem; }
        .section-3 .carousel > .destination > .destination-desc > h4 {
          font-size: 2.5rem;
          text-transform: uppercase;
          width: 50%;
          line-height: 1; }
        .section-3 .carousel > .destination > .destination-desc > span {
          text-transform: uppercase;
          width: 40%;
          font-size: 0.7rem;
          text-align: right; }
