// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

// Generic style
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Monrope', sans-serif;
  cursor: none;
  overflow-x: hidden;

}
h1, h2, h3, h4, h5, p, span, a, br {
  margin: 0;
  padding: 0;

  &::selection {
    background-color: white;
    color: black;
  }
}
a {
  text-decoration: none;
  color: #fff;
  cursor: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Generic style end

// Cursor
.cursor {
  width: 40px;
  height: 40px;
  border: solid 1px #fff;
  border-radius: 50%;
  position: absolute;

}

@keyframes cursorClick {
  0% {
    transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}
.expand {
  animation: cursorClick .4s;
}
// Cursor end

// Navbar begin
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 6rem;

  > .nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3rem;


    > :nth-child(1){
      margin-right: 5rem;


    }
    li {
      margin: 0.25rem;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  > .logo {
    position: relative;

    > span{
      font-size: 2rem;
      letter-spacing: -0.2rem;
    }


    > #logo-round {
      border: 1px solid #fff;
      padding: 1rem 4.5rem;
      border-radius: 50%;
      transform: rotate(170deg);
      position: absolute;
      top: 0;
      left: -0.5rem;
      right: 1rem;
    }
  }

  > .nav-right {
    justify-content: space-between;
    align-items: center;

    > .menu-line {
      width: 3rem;
      color: white;
      height: 0.2rem;
      background-color: #fff;
      margin: 0.4rem 0;
      border-radius: 2px;
    }
  }
}
// Nabvar end

// Hero begin
.hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin: 10rem 6rem;
  height: 8rem;


  > .hero-left {
    width: 66%;

    > h2 {
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 10rem;
    }

  }

  > .hero-right {
    width: 34%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;

    > p {
      text-transform: uppercase;
      line-height: 1.8;
      margin: 0;
      font-size: 1.2rem;
      margin-bottom: -9rem;
    }
  }

  .arrow {
    position: absolute;
    top: -8rem;
    .arrow-line {
      padding: 0.5rem;
      width: 4rem;
      background-color: white;
      transform: rotate(-45deg);
      position: absolute;
      top: 32px;
    }

    .arrow-square {
      border-top: 1rem solid white;
      border-right: 1rem solid white;
      padding: 2rem;
      position:relative;
    }
  }

}
// Hero end

// Image home
.bg-image {

  background-image:
    linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    url("/assets/images/hero-bg.jpg")
    ;
  margin: 0;
  padding: 0;
  height: 1000px;
  background-size: auto;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;

  > h1 {
    font-size: 12rem;
    line-height: 0.8;
    margin-top: 4rem;
    margin-left: 1rem;
    letter-spacing: -1rem;
    z-index: 2;
    position: absolute;
    top: -20rem;
    left: 5rem;
    // animation: textDisplay 10s;
  }

  // @keyframes textDisplay {
  //   0% {
  //     opacity: 0;

  //   }

  //   100% {
  //     opacity: 1;
  //   }
  // }

  > span {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
}
// Image home end

// Section 2 begin
.section-2 {
  align-items: center;
  margin: 3rem 6rem;
  margin-bottom: 10rem;

  > h3 {
    width: 100%;
    font-size: 6.5rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    line-height: 0.9;

    > :nth-child(1), :nth-child(3) {
      align-self: flex-start;
    }

    >:nth-child(2) {
      align-self: flex-end;

    }
  }

  > .text-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    position: relative;
    > p {
      text-transform: uppercase;
      line-height: 1.8;
      margin: 0;
      font-size: 1.2rem;
      width: 40%;

    }
  }
  .arrow2{
    position: absolute;
    top: 0;
    right: 1rem;
    transform: rotate(90deg);
    .arrow2-line {
      padding: 0.5rem;
      width: 4rem;
      background-color: white;
      transform: rotate(-45deg);
      position: absolute;
      top: 32px;
    }

    .arrow2-square {
      border-top: 1rem solid white;
      border-right: 1rem solid white;
      padding: 2rem;
      position:relative;
    }
  }
}
// Section 2 end

.section-3 {
  align-items: center;
  margin: 0 3rem;

  > .section-3-h2 {
    width: 100%;
    text-align: center;
    margin: 3rem auto;
    position: relative;

    > :nth-child(1) {
      font-size: 6rem;
      font-weight: 600;
      letter-spacing: -0.4rem;
    }

    > .big-text {
      font-size: 10rem;

    }
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    place-content: center;


    > .destination {
      height: 500px;
      width: 30%;
      overflow: hidden;
      margin: 0 0.5rem;


      > .destination-image {
          height: 300px;
          background-size: 100%;
          background-position: center;
          object-fit: cover;
          background-repeat: no-repeat;
      }

     #acores {
        background-image: linear-gradient((rgba(0,0,0,0.7)),(rgba(0,0,0,0.7))), url('/assets/images/acores.jpg');
      }

      #santa-catalina {
        background-image: url('/assets/images/santa-catalina.jpg');
      }

      #granada {
        background-image: linear-gradient((rgba(0,0,0,0.7)),(rgba(0,0,0,0.7))), url('/assets/images/granada.jpg');
      }

      > .destination-desc {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 1rem;

        > h4 {
          font-size: 2.5rem;
          text-transform: uppercase;
          width: 50%;
          line-height: 1;
        }

        > span {
          text-transform: uppercase;
          width: 45%;
          font-size: 0.7rem;
          text-align: right;
        }
      }
    }
  }
}
